Задание 1

In [297]:
import pandas as pd
from pandas import DataFrame

movies_data = pd.read_csv('movies.csv')
ratings_data = pd.read_csv('ratings.csv')
data = movies_data.join(ratings_data.set_index('movieId'), on='movieId', how='left')

In [298]:
rating = data['rating'].max()
data = data[['movieId', 'title', 'rating']][data.rating >= rating]
data.value_counts().head(1)  # рещение 1
data.groupby(['title']).count().sort_values('rating', ascending=False).head(1)  # рещение 2

                                  movieId  rating
title
Shawshank Redemption, The (1994)      153     153

Задание 2

In [299]:
data = pd.read_csv("power.csv")
data.head(3)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1

In [300]:
categories = [4, 12, 21]
countries = ['Latvia', 'Lithuania', 'Estonia']
data[
    data['country'].isin(countries) &
    data['category'].isin(categories) &
    data['year'].between(2005, 2010) &
    (data['quantity'] > 0)
    ][['country', 'quantity']].agg(
    {
        'quantity': 'sum'
    })

quantity    240580.0
dtype: float64

Задание 3

In [301]:
%pip install lxml
%pip install html5lib

Requirement already satisfied: lxml in d:\_appprojects\!netology\ds_libraries\hw_pandaslib\env\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: html5lib in d:\_appprojects\!netology\ds_libraries\hw_pandaslib\env\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in d:\_appprojects\!netology\ds_libraries\hw_pandaslib\env\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in d:\_appprojects\!netology\ds_libraries\hw_pandaslib\env\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [302]:
data = pd.read_html('https://en.wikipedia.org/wiki/Multiplication_table')

In [303]:
data = data[0]

In [304]:
data

     ×  0   1   2   3   4   5   6   7   8    9   10   11   12
0    0  0   0   0   0   0   0   0   0   0    0    0    0    0
1    1  0   1   2   3   4   5   6   7   8    9   10   11   12
2    2  0   2   4   6   8  10  12  14  16   18   20   22   24
3    3  0   3   6   9  12  15  18  21  24   27   30   33   36
4    4  0   4   8  12  16  20  24  28  32   36   40   44   48
5    5  0   5  10  15  20  25  30  35  40   45   50   55   60
6    6  0   6  12  18  24  30  36  42  48   54   60   66   72
7    7  0   7  14  21  28  35  42  49  56   63   70   77   84
8    8  0   8  16  24  32  40  48  56  64   72   80   88   96
9    9  0   9  18  27  36  45  54  63  72   81   90   99  108
10  10  0  10  20  30  40  50  60  70  80   90  100  110  120
11  11  0  11  22  33  44  55  66  77  88   99  110  121  132
12  12  0  12  24  36  48  60  72  84  96  108  120  132  144

In [305]:
data.describe()

,×,0,1,2,3,4,5,6,7,8,9,10,11,12
count,13.00000,13.0,13.00000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,6.00000,0.0,6.00000,12.000000,18.000000,24.000000,30.000000,36.000000,42.000000,48.000000,54.000000,60.000000,66.000000,72.000000
std,3.89444,0.0,3.89444,7.788881,11.683321,15.577762,19.472202,23.366643,27.261083,31.155524,35.049964,38.944405,42.838845,46.733286
min,0.00000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.00000,0.0,3.00000,6.000000,9.000000,12.000000,15.000000,18.000000,21.000000,24.000000,27.000000,30.000000,33.000000,36.000000
50%,6.00000,0.0,6.00000,12.000000,18.000000,24.000000,30.000000,36.000000,42.000000,48.000000,54.000000,60.000000,66.000000,72.000000
75%,9.00000,0.0,9.00000,18.000000,27.000000,36.000000,45.000000,54.000000,63.000000,72.000000,81.000000,90.000000,99.000000,108.000000
max,12.00000,0.0,12.00000,24.000000,36.000000,48.000000,60.000000,72.000000,84.000000,96.000000,108.000000,120.000000,132.000000,144.000000